#homePanel.panel
	div
		h1 Transactions Home
		hr
		
		.marblesWrap
			.legend(style="text-align:right;") 01-000-3130-0000-000
			ul#user1wrap.sortable &nbsp;

		
		.marblesWrap(style="float:right;")
			.legend 01-000-4130-0000-000
			ul#user2wrap(style="text-align:left;").sortable &nbsp;
			
		#toolWrap
			span.fa.fa-trash-o.fa-2x
			p.hint DRAG HERE TO REMOVE
			#trashbin.sortable